<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
      <form [formGroup]="user" (ngSubmit)="onSubmit()">
          <table>
            <tr>
    
            <label>
              <span>Name</span>
              <input
              class="form-control"
                type="text"
                placeholder="NOMBRE"
                formControlName="fname"
                [(ngModel)]="usuario.fname">

            </label>
          </tr><tr>        
            <label>
                <span>Last name</span>
                <input
                class="form-control"
                  type="text"
                  placeholder="APELLIDO"
                  formControlName="lname"
                  [(ngModel)]="usuario.lname">
              </label>
            </tr><tr> 
              <label>
                <span>Mail</span>
                <input
                class="form-control"
                  type="text"
                  placeholder="email@email.com"
                  formControlName="mail"
                  [(ngModel)]="usuario.mail">
              </label>
            </tr><tr>
              <label>
                <span>Date</span>
                <input
                class="form-control"
                  type="date"
                  formControlName="year"
                  [(ngModel)]="usuario.year">
              </label>
            </tr><tr>
              <label>
                <span>Description</span>
                <input
                class="form-control"
                  type="are"
                  placeholder="Descripcion..."
                  formControlName="descripcion"  
                  [(ngModel)]="usuario.descripcion">
              </label>
            </tr><tr>
              <label>
                <span>Password</span>
                <input
                class="form-control"
                  type="text"
                  placeholder="********"
                  formControlName="pssw"
                  [(ngModel)]="usuario.pssw">
              </label>
            </tr><tr>
            <button class="btn btn-link" type="submit" >register</button>
         </tr> 
        </table>
          </form>
    </div>
</div>